body,html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-rendering: optimizeLegibility;
}

img {
	display: block;
	margin:0 auto;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding:0;
}


/* *********************************************** */
/* FONT                                            */
/* *********************************************** */
@font-face {
    font-family: 'scandinavian_newblack';
    src: url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.eot');
    src: url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.woff2') format('woff2'),
         url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.woff') format('woff'),
         url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.ttf') format('truetype'),
         url('https://sas-inrikes.s3.eu-central-1.amazonaws.com/resources/fonts/scandinaviannew_900-black/scandinaviannew_900-black-webfont.svg#scandinavian_newblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* *********************************************** */
/* BANNER                                          */
/* *********************************************** */
#banner {
	width: 160px;
	height: 600px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background: #fff;
	margin: 0 auto;
}


/* *********************************************** */
/* TEXT                                            */
/* *********************************************** */
h1 {
	font-family: 'scandinavian_newblack', sans-serif;
	text-transform:uppercase;
	font-size: 53px;
	color: #fff;
	text-align: center;
	font-weight:normal;
	letter-spacing: -0.002em;	
	line-height: 1;
	margin:0;
	padding:0;
}

h2 {
	font-family: 'scandinavian_newblack', sans-serif;
	text-transform:uppercase;
    font-size: 13px;
	color: #fff;
	text-align: right;
	font-weight:normal;
	letter-spacing: -0.002em;
	line-height: 1;
	margin:0;
	padding:0;

}

h3 {
    font-family: 'scandinavian_newblack', sans-serif;
	text-transform:uppercase;
    font-size: 11px;
	color: #fff;
	text-align: center;
	font-weight:normal;
	letter-spacing: -0.002em;
	line-height: 1.05;
	margin:0;
	padding:0;
}

#txt-wrapper {
	position: absolute;
	top: 93px;
	left: 59px; /*88*/
	/*width: 100%;*/
	width: 610px;
	z-index: 1;
	height: auto;
}

/* *********************************************** */
/* BOX                                             */
/* *********************************************** */

#box1 {
    position: absolute;
    top:80px;
	left:12px;
    width:136px;
    height:120px;
    background-color:#000099;
    z-index:2;
    visibility: hidden;
}

#box2 {
    position: absolute;
	top:202px;
	left:12px;
    width:136px;
    height:43px;
    background-color:#000066;
    z-index:2;
    visibility: hidden;
}

#header1 {
    position: absolute;
    width:95px;
    height:100px;
    border:0px;
    left:21px;
    top:9px;
}

#header2 {
    position: absolute;
    width:100px;
    height:14px;
    border:0px;
    left:19px;
    top:5px;
}


/* *********************************************** */
/* COUNTDOWN                                       */
/* *********************************************** */

#countdownClock {
	position: absolute;
	top:20px;
	left: 10px;
	font-family: 'scandinavian_newblack', sans-serif;
	font-size: 16px;
	color: #fff;
	z-index:4;
}

/* *********************************************** */
/* LOGOS AND BACKGROUND                            */
/* *********************************************** */


#logo-wrapper {
	position: absolute;
	bottom:48px;
	left:21px;
	z-index: 1;
}

#logo {
	/*position: relative;*/
	width: 120px;
	height: 45px;
	border:0px;
}

#star-alliance-wrapper {
	position: absolute;
	top:6px;
	right:5px;
	z-index:1;
}

#star-alliance {
	width:105px;
	height:11px;
	border:0px;
}

#background {
	position:absolute;
	top:0px;
	left:0px;
	border:0px;
    width:210px;
    height:600px;
	z-index:0;
}

#plane {
	position:absolute;
	top:300px;
	left:-200px;
	border:0px;
    width:420px;
    height:120px;
	z-index:0;
}